.heroprofile {
  font-family: "OpenSans Bold";
  padding: 10px;
  box-sizing: border-box;

  &--bgimg {
    background-image: url("../../assets/images/Profilebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.45) inset;
  }

  h1 {
    font-size: 36px;
    color: var(--light);
    line-height: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
}
