.form {
  &__checkbox {
    margin-top: 5px;
  }

  &__textarea {
    width: 100%;
    height: 20px;
  }

  &__select {
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: var(--alpha);
  }

  &--page {
    padding: 10px;

    footer {
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
      a {
        text-decoration: underline;
        color: var(--beta);
      }
    }
  }

  &__group {
    margin-top: 2px;

    &--page {
      margin-bottom: 20px;
    }
  }

  &__label {
    font-size: 17px;
    font-weight: bold;
    color: var(--gamma);

    &--light {
      color: var(--light);
    }
  }

  &__field {
    width: 100%;
    height: 5px;
    padding: 10px;
  }

  &__btn {
    background-color: #a3cef1;
    border: none;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    padding: 8px;
  }
}
