.nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  background-color: #aac78c;
  height: 35px;
  width: auto;
  padding: 5px;

  &__left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: flex;
    margin-left: 15px;
    gap: 15px;
    align-items: center;
  }

  &__right {
    grid-row: 1/ 2;
    grid-column: 3/ 4;

    display: flex;
    margin-right: 15px;
    gap: 15px;
    align-items: center;
  }
}
