.nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 4;
  background-color: #aac78c;
  height: 35px;
  width: auto;
  padding: 5px;

  &__left {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    li {
      margin-left: 30px;
    }
  }

  &__right {
    grid-row: 1/ 2;
    grid-column: 3/ 4;
    display: flex;
    align-items: center;
  }
}
