.sector {
  font-family: "Open Sans";

  h2 {
    font-size: 20px;
    text-align: center;
    line-height: 5px;
  }

  &__header {
    margin-top: 40px;
    background-color: var(--babyBlue);
    p {
      font-size: 14px;
      text-align: center;
      font-family: "OpenSans Bold";
      color: var(--light);
      line-height: 30px;
    }
  }

  &__types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
  }

  &__wrap {
    display: grid;
  }

  &__picture {
    //border: 1px rgb(0, 255, 85) dotted;
    grid-column: 1 / 2;
    img {
      width: 100%;
    }
    a {
      //border: 1px red dotted;
      text-align: center;
    }
  }

  footer {
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
    text-decoration: underline;
    color: var(--blue);
  }
}
